.test-letter{
    font-size: 19px;
    line-height: 19px;
}

.test-letter-correct{
    color:  #21c021;
}

.test-letter-incorrect{
    color: #e80b0b
}

.test-letter-not-attempted{
    color: #f4d9f4b5;
}

.yes{
    font-weight: 600;
    font-size: 21px;
    text-decoration: underline;
}