.typing-speed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-container{
    margin: 16px;
}

.timer{
    font-size: 38px;
    font-weight: 600;
    margin: 0;
}

.timer-info{
    margin: 0;
    margin-top: -15px;
    font-size: 20px;
    color: STEELBLUE;
    padding-bottom: 20px;
}

.text-area-container{
    display: flex;
    flex-direction: row;
}


.textarea{
    padding: 10px;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    background-color: azure;
   
}

.text-area-typeHere{
    font-size: 19px;
    line-height: 19px;
}

.test-paragraph{
    border-radius: 10px;
    background-color:rgb(52, 56, 44);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.text-area-left{
    width: 50%;
    margin:  20px;
}

.text-area-right{
    width: 50%;
    margin:  20px;
   
}