.navbar-container{
    background: #2d3436;
    height: 80px;
    width: 100%;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    height: 100%;
    /* width: 100%; */

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    text-align: center;
    /* padding: 3px; */
}

.thunder{
    height: 100%;
    padding: 2px;
}

.logo-name{
    font-family: "Bangers", cursive;
    color: #dfe4ea;
    font-size: 60px;
    letter-spacing: 3px;
    margin: 0 10px;

    display: flex;
    align-items: center;
}

.login-button-container{
    margin: 25px;
}

.login-button{
    width: 80px;
    height: 40px;
}